In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [2]:
# Reading the csv Files with Diseases Data

file_path_E = Path("../../Resources/Data/SPY_Sectors_Ebola_AM.csv")
file_path_H = Path("../../Resources/Data/SPY_Sectors_H1N1_AM.csv")
file_path_S = Path("../../Resources/Data/SPY_Sectors_SARS_AM.csv")
file_path_Z = Path("../../Resources/Data/SPY_Sectors_Zika_AM.csv")

EBOLA_spy_data = pd.read_csv(file_path_E)
H1N1_spy_data = pd.read_csv(file_path_H)
SARS_spy_data = pd.read_csv(file_path_S)
ZIKA_spy_data = pd.read_csv(file_path_Z)

EBOLA_spy_data["Date"]=pd.to_datetime(EBOLA_spy_data["Date"])
ZIKA_spy_data["Date"]=pd.to_datetime(ZIKA_spy_data["Date"])
H1N1_spy_data["Date"]=pd.to_datetime(H1N1_spy_data["Date"])
SARS_spy_data["Date"]=pd.to_datetime(SARS_spy_data["Date"])

# Add a virus name column to each of these dataframes

SARS_spy_data['Disease']='SARS'
H1N1_spy_data['Disease']='H1N1'
EBOLA_spy_data['Disease']='EBOLA'
ZIKA_spy_data['Disease']='ZIKA'

# Gold & T-Bonds ETFs

# Gold
file_path_GOLD_E = Path("../../Resources/Data/GOLD_Ebola_AM.csv")
file_path_GOLD_H = Path("../../Resources/Data/GOLD_H1N1_AM.csv")
file_path_GOLD_S = Path("../../Resources/Data/GOLD_SARS_AM.csv")
file_path_GOLD_Z = Path("../../Resources/Data/GOLD_Zika_AM.csv")

EBOLA_GOLD_data = pd.read_csv(file_path_GOLD_E)
H1N1_GOLD_data = pd.read_csv(file_path_GOLD_H)
SARS_GOLD_data = pd.read_csv(file_path_GOLD_S)
ZIKA_GOLD_data = pd.read_csv(file_path_GOLD_Z)

EBOLA_GOLD_data["Date"]=pd.to_datetime(EBOLA_GOLD_data["Date"])
ZIKA_GOLD_data["Date"]=pd.to_datetime(ZIKA_GOLD_data["Date"])
H1N1_GOLD_data["Date"]=pd.to_datetime(H1N1_GOLD_data["Date"])
SARS_GOLD_data["Date"]=pd.to_datetime(SARS_GOLD_data["Date"])

# TLT
file_path_TLT_E = Path("../../Resources/Data/TLT_Ebola_AM.csv")
file_path_TLT_H = Path("../../Resources/Data/TLT_H1N1_AM.csv")
file_path_TLT_S = Path("../../Resources/Data/TLT_SARS_AM.csv")
file_path_TLT_Z = Path("../../Resources/Data/TLT_Zika_AM.csv")

EBOLA_TLT_data = pd.read_csv(file_path_TLT_E)
H1N1_TLT_data = pd.read_csv(file_path_TLT_H)
SARS_TLT_data = pd.read_csv(file_path_TLT_S)
ZIKA_TLT_data = pd.read_csv(file_path_TLT_Z)

EBOLA_TLT_data["Date"]=pd.to_datetime(EBOLA_TLT_data["Date"])
ZIKA_TLT_data["Date"]=pd.to_datetime(ZIKA_TLT_data["Date"])
H1N1_TLT_data["Date"]=pd.to_datetime(H1N1_TLT_data["Date"])
SARS_TLT_data["Date"]=pd.to_datetime(SARS_TLT_data["Date"])

# Add ETF name column to each of the ETF dataframes
# Gold
SARS_GOLD_data['Disease']='SARS'
H1N1_GOLD_data['Disease']='H1N1'
EBOLA_GOLD_data['Disease']='EBOLA'
ZIKA_GOLD_data['Disease']='ZIKA'
SARS_TLT_data['Disease']='SARS'
H1N1_TLT_data['Disease']='H1N1'
EBOLA_TLT_data['Disease']='EBOLA'
ZIKA_TLT_data['Disease']='ZIKA'

#TLT
#SARS_GOLD_data['ETF']='GOLD'
#H1N1_GOLD_data['ETF']='GOLD'
#EBOLA_GOLD_data['ETF']='GOLD'
#ZIKA_GOLD_data['ETF']='GOLD'
#SARS_TLT_data['ETF']='TLT'
#H1N1_TLT_data['ETF']='TLT'
#EBOLA_TLT_data['ETF']='TLT'
#ZIKA_TLT_data['ETF']='TLT'

In [3]:
# Concatenate the dataframes together
SP500_data = pd.concat([SARS_spy_data,EBOLA_spy_data,H1N1_spy_data,ZIKA_spy_data], axis=0, join="inner", sort=False).set_index(['Disease','Date'])
etf_GOLD_data = pd.concat([SARS_GOLD_data,EBOLA_GOLD_data,H1N1_GOLD_data,ZIKA_GOLD_data], axis=0, join="inner", sort=False).set_index(['Disease', 'Date'])
etf_TLT_data = pd.concat([SARS_TLT_data,EBOLA_TLT_data,H1N1_TLT_data,ZIKA_TLT_data], axis=0, join="inner", sort=False).set_index(['Disease', 'Date'])
etf_TLT_data.dropna(inplace=True)
etf_GOLD_data.dropna(inplace=True)
etf_TLT_data.head()

                         Open       High        Low      Close  Volume
Disease Date
SARS    2003-03-12  90.919998  91.360001  90.879997  91.199997  454800
        2003-03-13  90.150002  90.389999  89.519997  89.519997  830200
        2003-03-14  89.900002  90.120003  89.620003  89.959999  590900
        2003-03-17  90.519997  90.519997  88.860001  88.879997  724400
        2003-03-18  88.959999  89.199997  88.010002  88.040001  415200

In [21]:
# ETFs DataFrames with %Change per Disease

# Gold
etf_GOLD_ZIKA = etf_GOLD_data.loc['ZIKA',('Close', 'Volume')].pct_change().abs()
etf_GOLD_H1N1 = etf_GOLD_data.loc['H1N1',('Close', 'Volume')].pct_change().abs()
#etf_GOLD_SARS = etf_GOLD_data.loc['SARS',('Close', 'Volume')].pct_change().abs() #NO DATA FOR GOLD-SARS
etf_GOLD_EBOLA = etf_GOLD_data.loc['EBOLA',('Close', 'Volume')].pct_change().abs()

#TLT
etf_TLT_ZIKA = etf_TLT_data.loc['ZIKA',('Close', 'Volume')].pct_change().abs()
etf_TLT_H1N1 = etf_TLT_data.loc['H1N1',('Close', 'Volume')].pct_change().abs()
etf_TLT_SARS = etf_TLT_data.loc['SARS',('Close', 'Volume')].pct_change().abs()
etf_TLT_EBOLA = etf_TLT_data.loc['EBOLA',('Close', 'Volume')].pct_change().abs()

etf_TLT_EBOLA.tail()

               Close    Volume
Date
2016-03-22  0.000234  0.093730
2016-03-23  0.011325  1.126533
2016-03-24  0.000386  0.403163
2016-03-28  0.001312  0.202513
2016-03-29  0.010485  0.857533

In [5]:
# S&P500 DataFrames with %Change per Disease

SP500_Sectors_ZIKA = SP500_data.loc['ZIKA',('SP500_Close', 'SP500_Volume', 'XLY_Close', 'XLY_Volume', 'XLP_Close', 'XLP_Volume', 'XLE_Close', 'XLE_Volume', 'XLF_Close', 'XLF_Volume', 'XLV_Close', 'XLV_Volume', 'XLI_Close', 'XLI_Volume', 'XLB_Close', 'XLB_Volume', 'XLK_Close', 'XLK_Volume', 'XLU_Close', 'XLU_Volume')].pct_change().abs()
SP500_Sectors_H1N1 = SP500_data.loc['H1N1',('SP500_Close', 'SP500_Volume', 'XLY_Close', 'XLY_Volume', 'XLP_Close', 'XLP_Volume', 'XLE_Close', 'XLE_Volume', 'XLF_Close', 'XLF_Volume', 'XLV_Close', 'XLV_Volume', 'XLI_Close', 'XLI_Volume', 'XLB_Close', 'XLB_Volume', 'XLK_Close', 'XLK_Volume', 'XLU_Close', 'XLU_Volume')].pct_change().abs()
SP500_Sectors_SARS = SP500_data.loc['SARS',('SP500_Close', 'SP500_Volume', 'XLY_Close', 'XLY_Volume', 'XLP_Close', 'XLP_Volume', 'XLE_Close', 'XLE_Volume', 'XLF_Close', 'XLF_Volume', 'XLV_Close', 'XLV_Volume', 'XLI_Close', 'XLI_Volume', 'XLB_Close', 'XLB_Volume', 'XLK_Close', 'XLK_Volume', 'XLU_Close', 'XLU_Volume')].pct_change().abs()
SP500_Sectors_EBOLA = SP500_data.loc['EBOLA',('SP500_Close', 'SP500_Volume', 'XLY_Close', 'XLY_Volume', 'XLP_Close', 'XLP_Volume', 'XLE_Close', 'XLE_Volume', 'XLF_Close', 'XLF_Volume', 'XLV_Close', 'XLV_Volume', 'XLI_Close', 'XLI_Volume', 'XLB_Close', 'XLB_Volume', 'XLK_Close', 'XLK_Volume', 'XLU_Close', 'XLU_Volume')].pct_change().abs()

SP500_Sectors_EBOLA.head()

,SP500_Close,SP500_Volume,XLY_Close,XLY_Volume,XLP_Close,XLP_Volume,XLE_Close,XLE_Volume,XLF_Close,XLF_Volume,XLV_Close,XLV_Volume,XLI_Close,XLI_Volume,XLB_Close,XLB_Volume,XLK_Close,XLK_Volume,XLU_Close,XLU_Volume
Date,,,,,,,,,,,,,,,,,,,,
2014-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-04,0.015268,0.092249,0.012536,0.493464,0.013533,0.176031,0.010908,0.155584,0.020595,0.006726,0.018983,0.082851,0.014504,0.286627,0.015755,0.247576,0.013070,0.285536,0.007241,0.316173
2014-03-05,0.000053,0.114554,0.004177,0.723521,0.003279,0.112081,0.009314,0.032389,0.010650,0.045532,0.002495,0.111952,0.001334,0.108897,0.002306,0.468034,0.001372,0.230430,0.006693,0.072018
2014-03-06,0.001718,0.034205,0.002525,0.305599,0.000235,0.240391,0.007223,0.283200,0.002773,0.089305,0.006170,0.322773,0.005711,0.144137,0.003764,0.541315,0.001371,0.029715,0.004991,0.523533
2014-03-07,0.000538,0.003074,0.001482,0.174188,0.002821,0.329109,0.001935,0.265070,0.004978,0.525404,0.002517,0.110968,0.003218,0.352690,0.004375,0.437443,0.003011,0.169408,0.003010,0.003481

In [31]:
#Calculate Limit-Points per Disease for ETFs

#Gold
#ZIKA
min_GOLD_ZIKA_data = pd.DataFrame(etf_GOLD_ZIKA.min()).transpose()
max_GOLD_ZIKA_data = pd.DataFrame(etf_GOLD_ZIKA.max()).transpose()
mean_GOLD_ZIKA_data = pd.DataFrame(etf_GOLD_ZIKA.mean()).transpose()
aux_GOLD_ZIKA = pd.concat([min_GOLD_ZIKA_data, max_GOLD_ZIKA_data, mean_GOLD_ZIKA_data], axis=0, join="inner", sort=False)
aux_GOLD_ZIKA ['min/max/mean'] = ['min','max','mean']
aux_GOLD_ZIKA ['Disease'] = 'ZIKA'
aux_GOLD_ZIKA

#H1N1
min_GOLD_H1N1_data = pd.DataFrame(etf_GOLD_H1N1.min()).transpose()
max_GOLD_H1N1_data = pd.DataFrame(etf_GOLD_H1N1.max()).transpose()
mean_GOLD_H1N1_data = pd.DataFrame(etf_GOLD_H1N1.mean()).transpose()
aux_GOLD_H1N1 = pd.concat([min_GOLD_H1N1_data, max_GOLD_H1N1_data, mean_GOLD_H1N1_data], axis=0, join="inner", sort=False)
aux_GOLD_H1N1 ['min/max/mean'] = ['min','max','mean']
aux_GOLD_H1N1 ['Disease'] = 'H1N1'
aux_GOLD_H1N1

#SARS
#min_GOLD_SARS_data = pd.DataFrame(etf_GOLD_SARS.min()).transpose()
#max_GOLD_SARS_data = pd.DataFrame(etf_GOLD_SARS.max()).transpose()
#mean_GOLD_SARS_data = pd.DataFrame(etf_GOLD_SARS.mean()).transpose()
#aux_GOLD_SARS = pd.concat([min_GOLD_SARS_data, max_GOLD_SARS_data, mean_GOLD_SARS_data], axis=0, join="inner", sort=False)
#aux_GOLD_SARS ['min/max/mean'] = ['min','max','mean']
#aux_GOLD_SARS ['Disease'] = 'SARS'
#aux_GOLD_SARS

#EBOLA
min_GOLD_EBOLA_data = pd.DataFrame(etf_GOLD_EBOLA.min()).transpose()
max_GOLD_EBOLA_data = pd.DataFrame(etf_GOLD_EBOLA.max()).transpose()
mean_GOLD_EBOLA_data = pd.DataFrame(etf_GOLD_EBOLA.mean()).transpose()
aux_GOLD_EBOLA = pd.concat([min_GOLD_EBOLA_data, max_GOLD_EBOLA_data, mean_GOLD_EBOLA_data], axis=0, join="inner", sort=False)
aux_GOLD_EBOLA ['min/max/mean'] = ['min','max','mean']
aux_GOLD_EBOLA ['Disease'] = 'EBOLA'
aux_GOLD_EBOLA

#TLT
#ZIKA
min_TLT_ZIKA_data = pd.DataFrame(etf_TLT_ZIKA.min()).transpose()
max_TLT_ZIKA_data = pd.DataFrame(etf_TLT_ZIKA.max()).transpose()
mean_TLT_ZIKA_data = pd.DataFrame(etf_TLT_ZIKA.mean()).transpose()
aux_TLT_ZIKA = pd.concat([min_TLT_ZIKA_data, max_TLT_ZIKA_data, mean_TLT_ZIKA_data], axis=0, join="inner", sort=False)
aux_TLT_ZIKA ['min/max/mean'] = ['min','max','mean']
aux_TLT_ZIKA ['Disease'] = 'ZIKA'
aux_TLT_ZIKA

#H1N1
min_TLT_H1N1_data = pd.DataFrame(etf_TLT_H1N1.min()).transpose()
max_TLT_H1N1_data = pd.DataFrame(etf_TLT_H1N1.max()).transpose()
mean_TLT_H1N1_data = pd.DataFrame(etf_TLT_H1N1.mean()).transpose()
aux_TLT_H1N1 = pd.concat([min_TLT_H1N1_data, max_TLT_H1N1_data, mean_TLT_H1N1_data], axis=0, join="inner", sort=False)
aux_TLT_H1N1 ['min/max/mean'] = ['min','max','mean']
aux_TLT_H1N1 ['Disease'] = 'H1N1'
aux_TLT_H1N1

#SARS
min_TLT_SARS_data = pd.DataFrame(etf_TLT_SARS.min()).transpose()
max_TLT_SARS_data = pd.DataFrame(etf_TLT_SARS.max()).transpose()
mean_TLT_SARS_data = pd.DataFrame(etf_TLT_SARS.mean()).transpose()
aux_TLT_SARS = pd.concat([min_TLT_SARS_data, max_TLT_SARS_data, mean_TLT_SARS_data], axis=0, join="inner", sort=False)
aux_TLT_SARS ['min/max/mean'] = ['min','max','mean']
aux_TLT_SARS ['Disease'] = 'SARS'
aux_TLT_SARS

#EBOLA
min_TLT_EBOLA_data = pd.DataFrame(etf_TLT_EBOLA.min()).transpose()
max_TLT_EBOLA_data = pd.DataFrame(etf_TLT_EBOLA.max()).transpose()
mean_TLT_EBOLA_data = pd.DataFrame(etf_TLT_EBOLA.mean()).transpose()
aux_TLT_EBOLA = pd.concat([min_TLT_EBOLA_data, max_TLT_EBOLA_data, mean_TLT_EBOLA_data], axis=0, join="inner", sort=False)
aux_TLT_EBOLA ['min/max/mean'] = ['min','max','mean']
aux_TLT_EBOLA ['Disease'] = 'EBOLA'
aux_TLT_EBOLA

etf_GOLD_Change = pd.concat([aux_GOLD_ZIKA, aux_GOLD_H1N1, aux_GOLD_EBOLA], axis=0, join="inner", sort=False).set_index(['Disease','min/max/mean'])
etf_TLT_Change = pd.concat([aux_TLT_ZIKA, aux_TLT_H1N1, aux_TLT_SARS, aux_TLT_EBOLA], axis=0, join="inner", sort=False).set_index(['Disease','min/max/mean'])
 
etf_GOLD_Change

                           Close       Volume
Disease min/max/mean
ZIKA    min                    0  0.000383991
        max            0.0490384      4.57883
        mean          0.00646323     0.424195
H1N1    min                    0   0.00465022
        max            0.0417017       2.7051
        mean           0.0084538     0.356125
EBOLA   min                    0  0.000136864
        max            0.0401887      4.29691
        mean          0.00703498     0.466491

In [24]:
#Calculate Limit-Points per Disease to classify Volatility

#ZIKA
min_ZIKA_data = pd.DataFrame(SP500_Sectors_ZIKA.min()).transpose()
max_ZIKA_data = pd.DataFrame(SP500_Sectors_ZIKA.max()).transpose()
mean_ZIKA_data = pd.DataFrame(SP500_Sectors_ZIKA.mean()).transpose()
aux_df_ZIKA = pd.concat([min_ZIKA_data, max_ZIKA_data, mean_ZIKA_data], axis=0, join="inner", sort=False)
aux_df_ZIKA ['min/max/mean'] = ['min','max','mean']
aux_df_ZIKA ['Disease'] = 'ZIKA'

#H1N1
min_H1N1_data = pd.DataFrame(SP500_Sectors_H1N1.min()).transpose()
max_H1N1_data = pd.DataFrame(SP500_Sectors_H1N1.max()).transpose()
mean_H1N1_data = pd.DataFrame(SP500_Sectors_H1N1.mean()).transpose()
aux_df_H1N1 = pd.concat([min_H1N1_data, max_H1N1_data, mean_H1N1_data], axis=0, join="inner", sort=False)
aux_df_H1N1 ['min/max/mean'] = ['min','max','mean']
aux_df_H1N1 ['Disease'] = 'H1N1'

#SARS
min_SARS_data = pd.DataFrame(SP500_Sectors_SARS.min()).transpose()
max_SARS_data = pd.DataFrame(SP500_Sectors_SARS.max()).transpose()
mean_SARS_data = pd.DataFrame(SP500_Sectors_SARS.mean()).transpose()
aux_df_SARS = pd.concat([min_SARS_data, max_SARS_data, mean_SARS_data], axis=0, join="inner", sort=False)
aux_df_SARS ['min/max/mean'] = ['min','max','mean']
aux_df_SARS ['Disease'] = 'SARS'

#EBOLA
min_EBOLA_data = pd.DataFrame(SP500_Sectors_EBOLA.min()).transpose()
max_EBOLA_data = pd.DataFrame(SP500_Sectors_EBOLA.max()).transpose()
mean_EBOLA_data = pd.DataFrame(SP500_Sectors_EBOLA.mean()).transpose()
aux_df_EBOLA = pd.concat([min_EBOLA_data, max_EBOLA_data, mean_EBOLA_data], axis=0, join="inner", sort=False)
aux_df_EBOLA ['min/max/mean'] = ['min','max','mean']
aux_df_EBOLA ['Disease'] = 'EBOLA'

SP500_Sectors_Change = pd.concat([aux_df_ZIKA, aux_df_H1N1, aux_df_SARS, aux_df_EBOLA], axis=0, join="inner", sort=False).set_index(['Disease','min/max/mean'])
SP500_Sectors_Change

                      SP500_Close SP500_Volume   XLY_Close   XLY_Volume  \
Disease min/max/mean
ZIKA    min                     0  0.000267533           0  0.000286607
        max             0.0394137      197.072   0.0399408      5.82038
        mean           0.00542355     0.588873  0.00627842     0.332411
H1N1    min           4.26178e-05  4.46575e-06           0   0.00200614
        max             0.0439741      3.21265   0.0522063      2.35972
        mean           0.00924618     0.185479   0.0111435     0.308462
SARS    min           0.000676177   0.00177957           0   0.00102459
        max             0.0354267     0.752583     0.05311      18.3068
        mean           0.00946296     0.110712   0.0113463      1.73685
EBOLA   min           5.13832e-06  0.000642146           0  0.000286607
        max             0.0394137      197.072   0.0399408      7.35545
        mean           0.00655848     0.554056  0.00744404     0.417676

                        XLP_Close   XLP_Volume    XLE_Close   XLE_Volume  \
Disease min/max/mean
ZIKA    min                     0  0.000723716  0.000129483  0.000121778
        max             0.0347935      5.79758    0.0537008      3.44065
        mean           0.00541216     0.364883    0.0104692     0.268101
H1N1    min                     0  0.000629718            0  5.40489e-05
        max             0.0296378      4.40175    0.0501848      1.84566
        mean           0.00650967     0.369295    0.0129756     0.271026
SARS    min           0.000527148   0.00507463            0    0.0154218
        max             0.0286332      5.23673    0.0296647      21.9389
        mean           0.00844274     0.990327   0.00794706       1.4169
EBOLA   min                     0  0.000723716            0  3.62812e-05
        max             0.0347935      11.1484    0.0642438      3.44065
        mean           0.00581118     0.472277     0.011266     0.259947

                       XLF_Close   XLF_Volume   XLV_Close   XLV_Volume  \
Disease min/max/mean
ZIKA    min                    0   0.00154054           0  0.000798637
        max            0.0538259      3.24925   0.0425384      3.98973
        mean          0.00790783     0.316095  0.00696734     0.344343
H1N1    min                    0  0.000939567           0   0.00110163
        max             0.111973      3.61042   0.0313554      2.38588
        mean            0.016045     0.311203  0.00748074     0.321213
SARS    min                    0   0.00348455           0     0.024602
        max            0.0426065      7.09821   0.0338569      16.2852
        mean            0.010779     0.901826  0.00980082      1.53097
EBOLA   min                    0   0.00201686           0  0.000798637
        max            0.0426065      3.09916   0.0425384      3.98973
        mean          0.00775063     0.348765  0.00811662     0.347747

                       XLI_Close   XLI_Volume    XLB_Close   XLB_Volume  \
Disease min/max/mean
ZIKA    min                    0  0.000286898            0   0.00112808
        max            0.0407479      5.47695    0.0436409      4.16326
        mean          0.00633768      0.31997   0.00777419     0.329938
H1N1    min                    0  0.000958714            0  8.75361e-05
        max            0.0572761       3.7578    0.0563545      1.93053
        mean           0.0120293      0.32253    0.0137359     0.287373
SARS    min                    0   0.00947867  0.000479386    0.0407027
        max            0.0354713      23.8885    0.0446377      21.9964
        mean           0.0101943      2.33524     0.010612      2.16482
EBOLA   min                    0  0.000286898            0  0.000950121
        max            0.0367276      5.47695    0.0419078      4.23996
        mean          0.00734062     0.329063   0.00844172     0.367032

                       XLK_Close   XLK_Volume   XLU_Close   XLU_Volume
Disease min/max/mean
ZIKA    min                    0  0.000257234           0  0.000204629
        max            0.0503979      4.93473   0.0375372      2.55582
        mean          0.00679372     0.367712  0.00677593     0.312054
H1N1    min                    0  0.000888833           0  0.000949232
        max             0.045977      4.48062   0.0321255      3.82037
        mean          0.00930562     0.398913  0.00851881     0.360246
SARS    min                    0    0.0102785           0   0.00404813
        max            0.0535456      3.38428   0.0379147      3.74081
        mean           0.0130725     0.602929  0.00846173     0.456972
EBOLA   min                    0  0.000257234           0  4.02279e-06
        max            0.0503979      4.06569   0.0411862        2.386
        mean          0.00753935     0.373987  0.00765208     0.330968

In [25]:
bins_dict = {'Ticker':'bins'}
for disease in ('ZIKA', 'H1N1', 'SARS', 'EBOLA'):
    for ticker in ('SP500_Close', 'SP500_Volume', 'XLY_Close', 'XLY_Volume', 'XLP_Close', 'XLP_Volume', 'XLE_Close', 'XLE_Volume', 'XLF_Close', 'XLF_Volume', 'XLV_Close', 'XLV_Volume', 'XLI_Close', 'XLI_Volume', 'XLB_Close', 'XLB_Volume', 'XLK_Close', 'XLK_Volume', 'XLU_Close', 'XLU_Volume'):
        bins_dict[f'{ticker}_{disease}'] = [SP500_Sectors_Change.loc[disease,'min'][ticker], SP500_Sectors_Change.loc[disease,'mean'][ticker], SP500_Sectors_Change.loc[disease,'max'][ticker]]

In [26]:
group_names = ['L', 'H']

# Volatility for Zika
SP500_Sectors_ZIKA.dropna(inplace=True)
for ticker in ('SP500_Close', 'SP500_Volume', 'XLY_Close', 'XLY_Volume', 'XLP_Close', 'XLP_Volume', 'XLE_Close', 'XLE_Volume', 'XLF_Close', 'XLF_Volume', 'XLV_Close', 'XLV_Volume', 'XLI_Close', 'XLI_Volume', 'XLB_Close', 'XLB_Volume', 'XLK_Close', 'XLK_Volume', 'XLU_Close', 'XLU_Volume'):
    SP500_Sectors_ZIKA[f'V_{ticker}']=pd.cut(SP500_Sectors_ZIKA[ticker], bins_dict[f'{ticker}_ZIKA'],labels=group_names, include_lowest=True)
SP500_Volatility_ZIKA = SP500_Sectors_ZIKA[['V_SP500_Close', 'V_SP500_Volume', 'V_XLY_Close', 'V_XLY_Volume', 'V_XLP_Close', 'V_XLP_Volume', 'V_XLE_Close', 'V_XLE_Volume', 'V_XLF_Close', 'V_XLF_Volume', 'V_XLV_Close', 'V_XLV_Volume', 'V_XLI_Close', 'V_XLI_Volume', 'V_XLB_Close', 'V_XLB_Volume', 'V_XLK_Close', 'V_XLK_Volume', 'V_XLU_Close', 'V_XLU_Volume']]

# Volatility for H1N1
SP500_Sectors_H1N1.dropna(inplace=True)
for ticker in ('SP500_Close', 'SP500_Volume', 'XLY_Close', 'XLY_Volume', 'XLP_Close', 'XLP_Volume', 'XLE_Close', 'XLE_Volume', 'XLF_Close', 'XLF_Volume', 'XLV_Close', 'XLV_Volume', 'XLI_Close', 'XLI_Volume', 'XLB_Close', 'XLB_Volume', 'XLK_Close', 'XLK_Volume', 'XLU_Close', 'XLU_Volume'):
    SP500_Sectors_H1N1[f'V_{ticker}']=pd.cut(SP500_Sectors_H1N1[ticker], bins_dict[f'{ticker}_H1N1'],labels=group_names, include_lowest=True)
SP500_Volatility_H1N1 = SP500_Sectors_H1N1[['V_SP500_Close', 'V_SP500_Volume', 'V_XLY_Close', 'V_XLY_Volume', 'V_XLP_Close', 'V_XLP_Volume', 'V_XLE_Close', 'V_XLE_Volume', 'V_XLF_Close', 'V_XLF_Volume', 'V_XLV_Close', 'V_XLV_Volume', 'V_XLI_Close', 'V_XLI_Volume', 'V_XLB_Close', 'V_XLB_Volume', 'V_XLK_Close', 'V_XLK_Volume', 'V_XLU_Close', 'V_XLU_Volume']]

# Volatility for SARS
SP500_Sectors_SARS.dropna(inplace=True)
for ticker in ('SP500_Close', 'SP500_Volume', 'XLY_Close', 'XLY_Volume', 'XLP_Close', 'XLP_Volume', 'XLE_Close', 'XLE_Volume', 'XLF_Close', 'XLF_Volume', 'XLV_Close', 'XLV_Volume', 'XLI_Close', 'XLI_Volume', 'XLB_Close', 'XLB_Volume', 'XLK_Close', 'XLK_Volume', 'XLU_Close', 'XLU_Volume'):
    SP500_Sectors_SARS[f'V_{ticker}']=pd.cut(SP500_Sectors_SARS[ticker], bins_dict[f'{ticker}_SARS'],labels=group_names, include_lowest=True)
SP500_Volatility_SARS = SP500_Sectors_SARS[['V_SP500_Close', 'V_SP500_Volume', 'V_XLY_Close', 'V_XLY_Volume', 'V_XLP_Close', 'V_XLP_Volume', 'V_XLE_Close', 'V_XLE_Volume', 'V_XLF_Close', 'V_XLF_Volume', 'V_XLV_Close', 'V_XLV_Volume', 'V_XLI_Close', 'V_XLI_Volume', 'V_XLB_Close', 'V_XLB_Volume', 'V_XLK_Close', 'V_XLK_Volume', 'V_XLU_Close', 'V_XLU_Volume']]

# Volatility for EBOLA
SP500_Sectors_EBOLA.dropna(inplace=True)
for ticker in ('SP500_Close', 'SP500_Volume', 'XLY_Close', 'XLY_Volume', 'XLP_Close', 'XLP_Volume', 'XLE_Close', 'XLE_Volume', 'XLF_Close', 'XLF_Volume', 'XLV_Close', 'XLV_Volume', 'XLI_Close', 'XLI_Volume', 'XLB_Close', 'XLB_Volume', 'XLK_Close', 'XLK_Volume', 'XLU_Close', 'XLU_Volume'):
    SP500_Sectors_EBOLA[f'V_{ticker}']=pd.cut(SP500_Sectors_EBOLA[ticker], bins_dict[f'{ticker}_EBOLA'],labels=group_names, include_lowest=True)
SP500_Volatility_EBOLA = SP500_Sectors_EBOLA[['V_SP500_Close', 'V_SP500_Volume', 'V_XLY_Close', 'V_XLY_Volume', 'V_XLP_Close', 'V_XLP_Volume', 'V_XLE_Close', 'V_XLE_Volume', 'V_XLF_Close', 'V_XLF_Volume', 'V_XLV_Close', 'V_XLV_Volume', 'V_XLI_Close', 'V_XLI_Volume', 'V_XLB_Close', 'V_XLB_Volume', 'V_XLK_Close', 'V_XLK_Volume', 'V_XLU_Close', 'V_XLU_Volume']]

SP500_Volatility_SARS.loc[:, 'Disease']='SARS'
SP500_Volatility_H1N1.loc[:, 'Disease']='H1N1'
SP500_Volatility_EBOLA.loc[:, 'Disease']='EBOLA'
SP500_Volatility_ZIKA.loc[:, 'Disease']='ZIKA'
SP500_Volatility_ZIKA.reset_index(inplace=True)
SP500_Volatility_H1N1.reset_index(inplace=True)
SP500_Volatility_SARS.reset_index(inplace=True)
SP500_Volatility_EBOLA.reset_index(inplace=True)

# Concatenate the dataframes together
SP500_Volatility_data = pd.concat([SP500_Volatility_ZIKA, SP500_Volatility_H1N1, SP500_Volatility_SARS, SP500_Volatility_EBOLA], axis=0, join="inner", sort=False).set_index(['Disease','Date'])
#SP500_Volatility_data

In [27]:
# Volatility for GOLD ZIKA
etf_GOLD_ZIKA.dropna(inplace=True)
for ticker in ('Close', 'Volume'):
    bin_list = [etf_GOLD_Change.loc['ZIKA'][ticker]['min'],etf_GOLD_Change.loc['ZIKA'][ticker]['mean'],etf_TLT_Change.loc['ZIKA'][ticker]['max']]
    etf_GOLD_ZIKA[f'V_{ticker}']=pd.cut(etf_GOLD_ZIKA[ticker], bin_list,labels=group_names, include_lowest=True)
GOLD_Volatility_ZIKA = etf_GOLD_ZIKA[['V_Close', 'V_Volume']]

# Volatility for GOLD H1N1
etf_GOLD_H1N1.dropna(inplace=True)
for ticker in ('Close', 'Volume'):
    bin_list = [etf_GOLD_Change.loc['H1N1'][ticker]['min'],etf_GOLD_Change.loc['H1N1'][ticker]['mean'],etf_TLT_Change.loc['H1N1'][ticker]['max']]
    etf_GOLD_H1N1[f'V_{ticker}']=pd.cut(etf_GOLD_H1N1[ticker], bin_list,labels=group_names, include_lowest=True)
GOLD_Volatility_H1N1 = etf_GOLD_H1N1[['V_Close', 'V_Volume']]

# Volatility for GOLD SARS
#etf_GOLD_SARS.dropna(inplace=True)
#for ticker in ('Close', 'Volume'):
#    bin_list = [etf_GOLD_Change.loc['SARS'][ticker]['min'],etf_GOLD_Change.loc['SARS'][ticker]['mean'],etf_TLT_Change.loc['SARS'][ticker]['max']]
#    etf_GOLD_SARS[f'V_{ticker}']=pd.cut(etf_GOLD_SARS[ticker], bin_list,labels=group_names, include_lowest=True)
#GOLD_Volatility_SARS = etf_GOLD_SARS[['V_Close', 'V_Volume']]

# Volatility for GOLD EBOLA
etf_GOLD_EBOLA.dropna(inplace=True)
for ticker in ('Close', 'Volume'):
    bin_list = [etf_GOLD_Change.loc['EBOLA'][ticker]['min'],etf_GOLD_Change.loc['EBOLA'][ticker]['mean'],etf_TLT_Change.loc['EBOLA'][ticker]['max']]
    etf_GOLD_EBOLA[f'V_{ticker}']=pd.cut(etf_GOLD_EBOLA[ticker], bin_list,labels=group_names, include_lowest=True)
GOLD_Volatility_EBOLA = etf_GOLD_EBOLA[['V_Close', 'V_Volume']]

# Volatility for TLT ZIKA
etf_TLT_ZIKA.dropna(inplace=True)
for ticker in ('Close', 'Volume'):
    bin_list = [etf_TLT_Change.loc['ZIKA'][ticker]['min'],etf_TLT_Change.loc['ZIKA'][ticker]['mean'],etf_TLT_Change.loc['ZIKA'][ticker]['max']]
    etf_TLT_ZIKA[f'V_{ticker}']=pd.cut(etf_TLT_ZIKA[ticker], bin_list,labels=group_names, include_lowest=True)
TLT_Volatility_ZIKA = etf_TLT_ZIKA[['V_Close', 'V_Volume']]

# Volatility for TLT H1N1
etf_TLT_H1N1.dropna(inplace=True)
for ticker in ('Close', 'Volume'):
    bin_list = [etf_TLT_Change.loc['H1N1'][ticker]['min'],etf_TLT_Change.loc['H1N1'][ticker]['mean'],etf_TLT_Change.loc['H1N1'][ticker]['max']]
    etf_TLT_H1N1[f'V_{ticker}']=pd.cut(etf_TLT_H1N1[ticker], bin_list,labels=group_names, include_lowest=True)
TLT_Volatility_H1N1 = etf_TLT_H1N1[['V_Close', 'V_Volume']]

# Volatility for TLT SARS
etf_TLT_SARS.dropna(inplace=True)
for ticker in ('Close', 'Volume'):
    bin_list = [etf_TLT_Change.loc['SARS'][ticker]['min'],etf_TLT_Change.loc['SARS'][ticker]['mean'],etf_TLT_Change.loc['SARS'][ticker]['max']]
    etf_TLT_SARS[f'V_{ticker}']=pd.cut(etf_TLT_SARS[ticker], bin_list,labels=group_names, include_lowest=True)
TLT_Volatility_SARS = etf_TLT_SARS[['V_Close', 'V_Volume']]

# Volatility for TLT EBOLA
etf_TLT_EBOLA.dropna(inplace=True)
for ticker in ('Close', 'Volume'):
    bin_list = [etf_TLT_Change.loc['EBOLA'][ticker]['min'],etf_TLT_Change.loc['EBOLA'][ticker]['mean'],etf_TLT_Change.loc['EBOLA'][ticker]['max']]
    etf_TLT_EBOLA[f'V_{ticker}']=pd.cut(etf_TLT_EBOLA[ticker], bin_list,labels=group_names, include_lowest=True)
TLT_Volatility_EBOLA = etf_TLT_EBOLA[['V_Close', 'V_Volume']]

# Concatenate the dataframes together
#GOLD_Volatility_SARS.loc[:, 'Disease']='SARS' #No Data for GOLD-SARS
GOLD_Volatility_H1N1.loc[:, 'Disease']='H1N1'
GOLD_Volatility_EBOLA.loc[:, 'Disease']='EBOLA'
GOLD_Volatility_ZIKA.loc[:, 'Disease']='ZIKA'
GOLD_Volatility_ZIKA.reset_index(inplace=True)
GOLD_Volatility_H1N1.reset_index(inplace=True)
#GOLD_Volatility_SARS.reset_index(inplace=True)
GOLD_Volatility_EBOLA.reset_index(inplace=True)
TLT_Volatility_SARS.loc[:, 'Disease']='SARS'
TLT_Volatility_H1N1.loc[:, 'Disease']='H1N1'
TLT_Volatility_EBOLA.loc[:, 'Disease']='EBOLA'
TLT_Volatility_ZIKA.loc[:, 'Disease']='ZIKA'
TLT_Volatility_ZIKA.reset_index(inplace=True)
TLT_Volatility_H1N1.reset_index(inplace=True)
TLT_Volatility_SARS.reset_index(inplace=True)
TLT_Volatility_EBOLA.reset_index(inplace=True)


GOLD_Volatility_data = pd.concat([GOLD_Volatility_ZIKA, GOLD_Volatility_H1N1, GOLD_Volatility_EBOLA], axis=0, join="inner", sort=False).set_index(['Disease','Date'])
TLT_Volatility_data = pd.concat([TLT_Volatility_ZIKA, TLT_Volatility_H1N1, TLT_Volatility_SARS, TLT_Volatility_EBOLA], axis=0, join="inner", sort=False).set_index(['Disease','Date'])

In [28]:
TLT_Volatility_data

                   V_Close V_Volume
Disease Date
ZIKA    2015-05-08       L        L
        2015-05-11       H        L
        2015-05-12       L        L
        2015-05-13       H        L
        2015-05-14       L        H
...                    ...      ...
EBOLA   2016-03-22       L        L
        2016-03-23       H        H
        2016-03-24       L        H
        2016-03-28       L        L
        2016-03-29       H        H

[1540 rows x 2 columns]

In [29]:
GOLD_Volatility_data

                   V_Close V_Volume
Disease Date
ZIKA    2015-05-08       L        H
        2015-05-11       L        H
        2015-05-12       H        L
        2015-05-13       H        H
        2015-05-14       L        L
...                    ...      ...
EBOLA   2016-03-22       L        L
        2016-03-23       H        H
        2016-03-24       L        H
        2016-03-28       L        L
        2016-03-29       H      NaN

[1461 rows x 2 columns]

In [18]:
SP500_Volatility_data

                   V_SP500_Close V_SP500_Volume V_XLY_Close V_XLY_Volume  \
Disease Date
ZIKA    2015-05-08             H              L           H            L
        2015-05-11             L              L           L            L
        2015-05-12             L              L           L            L
        2015-05-13             L              L           H            L
        2015-05-14             H              L           L            L
...                          ...            ...         ...          ...
EBOLA   2016-03-21             L              L           L            H
        2016-03-22             L              L           L            L
        2016-03-23             L              L           L            H
        2016-03-24             L              L           L            L
        2016-03-28             L              L           L            L

                   V_XLP_Close V_XLP_Volume V_XLE_Close V_XLE_Volume  \
Disease Date
ZIKA    2015-05-08           H            L           H            L
        2015-05-11           L            H           H            L
        2015-05-12           L            L           L            H
        2015-05-13           L            L           L            H
        2015-05-14           H            H           L            L
...                        ...          ...         ...          ...
EBOLA   2016-03-21           L            L           L            H
        2016-03-22           H            L           L            L
        2016-03-23           L            L           H            H
        2016-03-24           L            L           L            L
        2016-03-28           L            L           L            L

                   V_XLF_Close V_XLF_Volume V_XLV_Close V_XLV_Volume  \
Disease Date
ZIKA    2015-05-08           H            L           H            L
        2015-05-11           L            L           L            L
        2015-05-12           L            L           L            L
        2015-05-13           L            H           L            L
        2015-05-14           H            L           H            L
...                        ...          ...         ...          ...
EBOLA   2016-03-21           L            L           L            H
        2016-03-22           L            L           H            L
        2016-03-23           L            L           L            L
        2016-03-24           L            L           L            L
        2016-03-28           L            L           L            L

                   V_XLI_Close V_XLI_Volume V_XLB_Close V_XLB_Volume  \
Disease Date
ZIKA    2015-05-08           H            H           H            L
        2015-05-11           L            L           L            L
        2015-05-12           L            H           H            L
        2015-05-13           L            L           L            L
        2015-05-14           H            L           H            L
...                        ...          ...         ...          ...
EBOLA   2016-03-21           L            H           L            L
        2016-03-22           L            L           H            L
        2016-03-23           L            H           H            H
        2016-03-24           L            L           L            L
        2016-03-28           L            H           L            L

                   V_XLK_Close V_XLK_Volume V_XLU_Close V_XLU_Volume
Disease Date
ZIKA    2015-05-08           H            H           H            L
        2015-05-11           L            H           H            L
        2015-05-12           L            L           L            L
        2015-05-13           L            L           H            L
        2015-05-14           H            L           H            L
...                        ...          ...         ...          ...
EBOLA   2016-03-21           L            L           L            L
        2016-03-22           L            H           L            L
        2016-03-23           L            L           L            L
        2016-03-24           L            L           L            L
        2016-03-28           L            L           L            L

[1538 rows x 20 columns]